body {
  background-color: aquamarine; /* page background color */
  color: darkblue; /* the text color */
  font-family: Sono, Georgia, 'Times New Roman', Times, serif; /* the text font */
}

#canvases {
  position: relative;
}

#canvases > canvas {
  position: absolute;
  left: 0;
  top: 0;
}

#play_area {
  background-color: transparent;
}

#back {
  background-color: black;
}